.faq-list,
.prodaction-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & li {
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goit {
  max-width: 40%;
  font-size: 18px;
  line-height: 1.23;
}
.terminal {
  max-width: 60%;
  font-size: 15px;
}
